arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1633274821480/work
certifi==2021.10.8
cftime @ file:///C:/ci/cftime_1638340492698/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1642883757836/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython @ file:///C:/ci/cython_1639474807736/work
ephem @ file:///C:/ci/ephem_1600337431654/work
fbprophet @ file:///D:/bld/fbprophet_1599365958928/work
hijri-converter @ file:///home/conda/feedstock_root/build_artifacts/hijri-converter_1644680066407/work
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1644933126202/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1644934836338/work
kiwisolver @ file:///D:/bld/kiwisolver_1635836839743/work
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
LunarCalendar==0.0.9
matplotlib @ file:///D:/bld/matplotlib-base_1594091905736/work
netCDF4 @ file:///D:/bld/netcdf4_1636303174001/work
numpy @ file:///D:/bld/numpy_1640083403086/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1636223526752/work
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1615809745702/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1642753572664/work
pystan==2.19.1.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
scipy @ file:///C:/bld/scipy_1637806857964/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tornado @ file:///D:/bld/tornado_1635819758615/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1632313171031/work
wincertstore==0.2
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1643726632328/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1643828507773/work
